*{
    margin: 0;
    padding: 0;
    font-size: 140%;
    color: white;
}
body{
    background-color: rgb(41, 41, 41);
}

canvas{
    color: white;
    background-color: white;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}


